@charset "utf-8";


@font-face {
    font-family: 'museo';
    src: url('../public/fonts/garet/Garet-Book.ttf');
}
@font-face {
    font-family: 'strong';
    src: url('../public/fonts/garet/Garet-Heavy.ttf');
}


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Versión móvil */
:root {
    font-size: 30px;
    font-family: 'museo'; 
}

body {
    width: 100%;
    padding: 1rem;
    margin: 0;
    text-align: justify;
}
header {
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: #5578A3;
    font-family: 'strong';
}
header img{
    width: 50%;
}

header img {
    padding: 1rem;
}

.title1 {
    background-color: #2c9696;
    padding: 1rem;
    color: white;
    font-family: 'strong';
}
.navbar {
    background-color: #d8d2e1;
    color: #094040;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
}
.navbar-toggler {
    background-color: transparent;
    border: none;
    color: #094040;
    font-size: 1.5em;
    cursor: pointer;
}

.navbar-nav {
    display: none;
    list-style: none;
    padding: 0;
}

.navbar-nav li {
    margin: 10px 0;


}

.navbar-nav li a {
    color: #094040;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
    
}

.navbar-nav li a:hover {
    color: #2c9696;
}

.navbar-nav.active {
    display: block;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020; 
}


.linea {
    border-top: 2px solid #d8d2e1; 
}
.noticia1{
    display: flex;
    flex-wrap: wrap;
    background-color: #18314f;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    
}
.noticia1 article{
    width: 80%;
    
}
.noticia1 article a{
    color: white;
    font-weight: bold;
    
}
.noticia1 aside{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    
}
.noticia1 aside img{
    width: 900px;
    
}
.imgoculta{
    display: none;
}


footer {
    background-color: #094040;
    height: 100px;
    text-align: end;
    padding: 2rem;
    color: #fff;
}
footer ul li{
    font-size: 13px;
}

footer a {
    color: #5578A3;
}

@media (min-width: 1000px) {
    :root{
        background-image: url('https://images-ext-1.discordapp.net/external/2Fd3q2H6koKMCWs_JIP-ka13vK24Dcl1cE3z3w0p024/https/i.pinimg.com/originals/77/42/0d/77420df3f9e33db5b79ee25455d3340e.png?format=webp&quality=lossless');

    }
    body{
        width: 90%;
        margin: 0 auto;
    }
    header img{
        width: 20%;
    }
    .noticia1 article{
        width: 40%;
        padding-right: 50px;
        
    }
    .noticia1 aside{
        flex-wrap: nowrap;
        
    }
    .imgoculta{
        display: block;
    }
    .noticia1 aside img{
        width: 400px;
        
    }
    

    
   
   
    
}
